.CatalogueItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.CatalogueItem a{
  color: #8b8b8b;
  text-decoration: none;
  padding-top: 6em;
  font-weight: bold;
}

.appliance {
  background: url("../../img/appliances.png") no-repeat center;
}

.forkids {
  background: url("../../img/forkids.png") no-repeat center;
}

.sport {
  background: url("../../img/sport.png") no-repeat center;
}

.beauty {
  background: url("../../img/beauty.png") no-repeat center;
}

.education {
  background: url("../../img/education.png") no-repeat center;
}

.wholeCatalogue a{
  background: url("../../img/wholeCatalogue.png") no-repeat;
  background-position-x: 50%;
  background-position-y: 65%;
  color: #fbad22;
  text-decoration: underline;
}