.MenuItem {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 15px;
  padding: 0;
  font-weight: bold;
  top: 0;
}

.MenuItem a {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: #FFFFFF 1px solid;
}
.MenuItem a:active {
  color: #d3d3d3;
}
