
.Button {
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  background: transparent;
  padding: 12px 20px;
  border-radius: 1px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 14px;
  width: 180px;
}


.yellow {
  border: 2px solid #FFBF00;
}

.blue {
  border: 2px solid #2cbae7;
}

.textBlack {
  color: black;
}

.noBorder {
  border: none;
}

.fontSize {
  font-size: 25px;
  color: black;
  
}