.Button {
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  background: transparent;
  padding: 12px 20px;
  border-radius: 1px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 14px;
  width: 180px;
}

.yellow {
  border: 2px solid #FFBF00;
}

.blue {
  border: 2px solid #2cbae7;
}

.textBlack {
  color: black;
}

.noBorder {
  line-height: 25px;
  border: none;
  font-family: "Fira Sans Light", sans-serif;
}

.fontSize {
  font-size: 25px;
  color: black;
}

.catalogue {
  font-size: 23px;
  color: black;
  white-space: nowrap;
  padding-right: 0;
  padding-left: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.chooseProject {
  
  justify-content: center;
  color: black;
  text-decoration: none;
  width: 440px;
}
