.ProductDetailInformation {
  display: flex;
  flex-direction: row;
}

.ProductDetailInformation > .Column {
  display: flex;
  flex-direction: column;
  margin: 0 1% 0 1%;
}

.Column > .CatalogueProductName > .ProductName {
  margin: 6% auto 6% 10%;
  font-size: 18px;
}

.Column > .CatalogueProductItem {
  margin-top: 7%;
}

