.ShortInfoBlock {
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  flex-basis: 100%;
}

.ShortInfoBlock>p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
}