.Header {
  width: 100%;
  background: url(../../img/MainPage/HeaderBG.png) rgba(0, 0, 0, 0.4) no-repeat bottom;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}
