.Footer {
  background-color: #e3e3e3;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}

.Footer>.Menu {
  flex-basis: 20%;
}

.Footer>.Menu>.Links {
  margin-top: 50px;
}

.Footer>.Menu>.MainPageTitle {
  display: none;
}